// Posts vars
$post-spacing: 60px;

ul.posts{
  list-style-type: none;

  li{
      list-style-type:inherit;
      border-bottom:1px solid #eee;
      padding-bottom: $post-spacing;
      margin-bottom: $post-spacing;
  }

  li:last-of-type {
    border-bottom-width: 0
  }
}

.post-date {
  color: $lightgreytext;

  .tag_box {
    font-family: $fontsans;
    text-transform: uppercase;
  }

  .share {
    vertical-align: middle;
    font-size:1.3em;

    i {
      padding: 0 5px;
    }
  }
}



