$font-stack:    Helvetica, sans-serif;
$primary-color: #444;

body {
  font: 200% $font-stack;
  color: $primary-color;
  font-size: 41px;
  background: #ffffff;

  h1{
    color:#fff;
    padding:10px;
    border:10px dashed yellow;
    background:lightblue
  }

}
