@charset "utf-8";
$size-1: 6.6rem;
$navbar-padding-horizontal: 4rem;
@import '~bulma/sass/utilities/_all';

// Fontstacks
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
// family=Libre+Baskerville:ital,wght@0,400;0,700;1,400
// family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&

//
// $gap: 32px;
// $tablet:769px;
// $desktop: 960px + (2 * $gap);
// $widescreen: 1152px + (2 * $gap);
// $fullhd: 1344px + (2 * $gap);


// breakpoint mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin has-mobile-navbar {
  @media (max-width: $navbar-breakpoint - 1px) { @content;}
}
@mixin has-standard-navbar {
  @media (min-width: $navbar-breakpoint) { @content; }
}

@mixin for-touch-devices {
  @media (max-width: $tablet) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $tablet) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $desktop) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: $widescreen) { @content; }
}

// Helper classes
.is-horizontal-center {
  justify-content: center;
}


// Base branding styles

$family-sans-serif  : Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$family-secondary: "Cardo","Baskerville","Calibri",serif;

$family-primary: $family-sans-serif;
$body-family: $family-sans-serif;

// Colors
$black: #000;
$darkgreytext: #111;
$lightgreytext: #ccc;
// $lightgreentext: #28c3ab;
$lightgreentext: #28c3ab;
$lightgreentext_rgba: rgba(40,195,171,.2);
$errortext: #c32836;
$green: #28c3ab;
$grey-dark: #111;



// Bulma configuration
$widescreen-enabled: false;
$fullhd-enabled: false;

// // Custom vars
$link: $lightgreentext;
// $primary: $green;
// $link: $green;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;




// navbar
// $navbar-padding-horizontal: 4.2rem; // not adhered to?
// Columns
$column-gap: 2.5rem;



.column {
  background-color: $errortext;//
}





// font-awesome
.fab, .fas {
  color: $grey-dark;

}








// @import 'theme';
// @import 'components';
// @import 'posts';
// @import 'syntax';


// Import sharing buttons
// @import '~rrssb/scss/rrssb.scss';





// Import bulma
@import '~bulma/bulma';
// @import '~bulma/sass/utilities/_all';
// @import '~bulma/sass/base/_all';

// @import '~bulma/sass/layout/_all';

// @import '~bulma/sass/grid/_all';
// @import '~bulma/sass/grid/columns';
// @import '~bulma/sass/grid/tiles';


// components
// @import '~bulma/sass/components/_all';
// @import '~bulma/sass/components/breadcrumb';
// @import '~bulma/sass/components/navbar';

// elements
// @import '~bulma/sass/elements/_all';
// @import '~bulma/sass/elements/box';
// @import '~bulma/sass/elements/button';
// @import '~bulma/sass/elements/container';
// @import '~bulma/sass/elements/content';
// @import '~bulma/sass/elements/icon';
// @import '~bulma/sass/elements/image';
// @import '~bulma/sass/elements/notification';
// @import '~bulma/sass/elements/progress';
// @import '~bulma/sass/elements/table';
// @import '~bulma/sass/elements/tag';
// @import '~bulma/sass/elements/title';
// @import '~bulma/sass/elements/other';


// Forms
// @import '~bulma/sass/form/_all';

// grid

// Layout


//
// .container {
//   background-color: $warning;
// }



.navbar{
  @include has-mobile-navbar{
    position: absolute !important;
    top:0px;
    right:0;
    width:100%;
  }

  .navbar-menu{
    @include has-standard-navbar {
      border:solid $black;
      border-width: 1px 0;

      .navbar-item:first-child{
        border-left: 1px solid $black;
      }

      a.navbar-item, a.navbar-link{
        border-right: 1px solid $black;
        padding-left: $navbar-padding-horizontal;
        padding-right: $navbar-padding-horizontal;
      }

      div.sharing-utility{
        border-right: 1px solid $black;
        padding-left: $navbar-padding-horizontal - 1rem;
        padding-right: $navbar-padding-horizontal - 1rem;
      }


      // .navbar-link:not(.is-arrowless){
      //   // padding-left: $navbar-padding-horizontal;
      //   // padding-right: $navbar-padding-horizontal + 0.5rem;
      // }
      //
      .navbar-dropdown .navbar-item{
        border-right: unset;
        border-left: unset;
      }
    }
  }

  .navbar-start{
    @include has-standard-navbar {
      flex: 1;
      justify-content: center;
    }
  }
}

.card{
  border: 1px solid $black;

  .is-featured{
    position: absolute;
    // float: left;
    z-index: 30;
    // padding:0.5rem 3rem 0.5rem 0.8rem;
    // margin:2rem 0 1rem 2rem;
    top:2rem;
    left:2rem;
    line-height: 2rem;
    // letter-spacing: -1px;
    // -webkit-box-decoration-break: clone;
    // box-decoration-break: clone;

    // border:solid $black;
    // border-width:0 1px 1px 0;
    text-transform: uppercase;
    // margin:-1.6rem null null -1px;
    span{
      background-color: $white;
      display: block;


    }
  }

  .padded-multiline {
  // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  line-height: 1.8;
  // padding: 120px 50px 50px 50px;
  // width: 400px;
  // margin: 20px auto;
  position: absolute;
  z-index: 30;
  padding:4rem 2rem 0.5rem 0.5rem;
  // left:0.5rem;

  span{
    background-color: $black;
    color: $white;
    display: inline;
    padding: 0.3rem 2.5rem 0.3rem 0.5rem;

    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

  }
}


}