@charset "utf-8";


// Fontstacks
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


// breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


// family=Libre+Baskerville:ital,wght@0,400;0,700;1,400

// family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&

$family-sans-serif  : Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$family-secondary: "Cardo","Baskerville","Calibri",serif;

$family-primary: $family-sans-serif;
$body-family: $family-sans-serif;

// Colors
$black: #000;
$darkgreytext: #111;
$lightgreytext: #ccc;
// $lightgreentext: #28c3ab;
$lightgreentext: #28c3ab;
$lightgreentext_rgba: rgba(40,195,171,.2);
$errortext: #c32836;
$green: #28c3ab;
$grey-dark: #111;


// Text sizes
$size-1: 6rem;

// Theme Colors
$link: $lightgreentext;


// $gap: 35px;
// $desktop: 600px + (2 * $gap);

$widescreen-enabled: false;
$fullhd-enabled: false;


// navbar
$navbar-padding-horizontal: 4.2rem;


#jmoxon .navbar-start{
  @include for-tablet-portrait-up {
    flex: 1;
    justify-content: center;
  }
}


.navbar-menu{
  @include for-tablet-portrait-up {
    border:solid $black;
    border-width: 1px 0;

    .navbar-item:first-child{
      border-left: 1px solid $black;
    }

    .navbar-item{
      border-right: 1px solid $black;
      padding-left: $navbar-padding-horizontal;
      padding-right: $navbar-padding-horizontal;
    }

    .navbar-link:not(.is-arrowless){
      padding-left: $navbar-padding-horizontal;
      padding-right: $navbar-padding-horizontal + 0.5rem;
    }

    .navbar-dropdown .navbar-item{
      border-right: unset;
      border-left: unset;
    }
  }
}


// font-awesome
.fab, .fas {
  color: $grey-dark;

}




// // Custom vars
// $primary: $green;
// $link: $green;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;



@import 'theme';
// @import 'components';
// @import 'posts';
// @import 'syntax';


// Import sharing buttons
// @import '~rrssb/scss/rrssb.scss';



// DEBUG:
.column {
  // background-color: $warning;//
}




// Import bulma
// @import '~bulma/bulma';
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';

@import '~bulma/sass/layout/_all';

// @import '~bulma/sass/grid/_all';
@import '~bulma/sass/grid/columns';
// @import '~bulma/sass/grid/tiles';


// components
@import '~bulma/sass/components/_all';
// @import '~bulma/sass/components/breadcrumb';
// @import '~bulma/sass/components/navbar';

// elements
// @import '~bulma/sass/elements/_all';
// @import '~bulma/sass/elements/box';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/notification';
// @import '~bulma/sass/elements/progress';
// @import '~bulma/sass/elements/table';
// @import '~bulma/sass/elements/tag';
@import '~bulma/sass/elements/title';
// @import '~bulma/sass/elements/other';


// Forms
@import '~bulma/sass/form/_all';

// grid

// Layout


//
// .container {
//   background-color: $warning;
// }
