<!-- Social -->
<div class="content">
    <a href="https://www.linkedin.com/in/johnmoxon">
        <span class="icon is-large">
            <i class="fa-3x fab fa-linkedin-in has-text-black"></i>
        </span>
    </a>
    <a href="https://twitter.com/johnmoxon">
        <span class="icon is-large">
            <i class="fa-3x fab fa-twitter has-text-black"></i>
        </span>
    </a>
    <a href="https://medium.com/@johnmoxon">
        <span class="icon is-large">
            <i class="fa-3x fab fa-medium-m has-text-black"></i>
        </span>
    </a>
</div>