/* line 4, ../sass/base.scss */
body { font: 100% Helvetica, sans-serif; color: #333333; font-size: 30px; }
/* line 9, ../sass/base.scss */
body h1 { background: #ff9900; color: #fff; padding: 59px; }
