<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} - {{site.name}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags -->
    <meta name="description"
      content="{%unless page.description == null %}{{ page.description }}{%else%}{{ site.feed_description }}{% endunless %}">
    <meta name="keywords"
      content="{% unless page.keywords == null %}{{ page.keywords }}{% else %}{{ site.fail_back_keywords }}{% endunless %}">

    <meta name="author" content="https://plus.google.com/+{{site.author.googleplus}}">
    <meta name="google-site-verification" content="{{site.webmastertools.verification_code}}" />
    
    <!-- {% if page.sitemap.noindex != null %} -->
    <meta name="robots" content="{{ page.sitemap.noindex | join: ', ' }}">
    <!-- {% endif %} -->

    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}}: {{site.feed_description}} » Feed"
      href="{{site.production_url}}{{site.xJB.rss_path}}" />

    <!-- Social  -->
    <!-- Facebook open graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% unless page.title == null %}{{ page.title }}{% endunless %}" />
    <meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
    <meta property="og:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />
    <!-- {% unless page.date == null %} -->
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}" />
    <!-- {% else %} -->
    <!-- Last generated date -->
    <meta property="article:published_time" content="{{ site.time | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}" />
    <!-- {% endunless %} -->
    <meta property="article:author" content="{{ site.production_url }}/about/" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <!-- <meta property="og:image" content="http://wordpress.com/i/blank.jpg" /> -->
    
    <!-- Twitter card -->
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />



 
    <script defer src="https://kit.fontawesome.com/f74caf9b24.js" crossorigin="anonymous"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <link rel="preload" href="/assets/fonts/Cardo/Cardo-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Regular.woff2" as="font" crossorigin>
    <style>
      @font-face {
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Cardo'), local('Cardo-Regular'), url(/assets/fonts/Cardo/Cardo-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      /* latin */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>

  </head>
  <body id="jmoxon">

  <!-- Header section -->
  <main>
    <section class="hero is-fullheight is-bold">
      <div class="hero-body">
        <div class="has-text-centered container">

          <!-- Header intro -->
          <div class="is-horizontal-center is-flex">
            <figure class="image is-128x128">
              <img class="is-rounded" src="/assets/img/head-shot-square.jpg" alt="John Moxon - BA">
              <div class="is-rounded rounded-image-has-inner-shadow"></div>
            </figure>
          </div>
          <h1 class="title is-size-1 is-size-2-mobile has-text-black is-family-secondary is-spaced">John Moxon.</h1>
          <h2 class="subtitle is-size-4 is-size-6-mobile">
            We can not solve our problems with the same level of thinking that created them. - 
            <span class="is-size-6">Albert Einstein</span>
          </h2>
          
          <!-- Buttons -->
          <div class="columns is-centered">
            <div class="column">
              <div class="buttons is-flex is-centered">

                <a class="button is-primary">resumé</a>
                <a href="https://meetings.hubspot.com/jmoxon" class="button is-primary">book a meeting</a>
                <a class="button is-primary">contact</a>
              </div>
            </div>
          </div>

          <!-- Summary -->
          <div class="columns has-text-centered">
            <div class="column">
              {{ content }}
              <!-- <p>Hi! You've caught me while I'm still getting ready!! Wow that's a little embarassing!</p>
              <p>I'm currently preparing a new site where I will host some of the articles I've written to date (or will write
                soon). For now if you've landed here with a question...</p> -->
            </div>
          </div>
          
          <!-- Social -->
          <div class="content">
            <a href="https://www.linkedin.com/in/johnmoxon">
              <span class="icon is-large">
                <i class="fa-3x fab fa-linkedin-in has-text-black"></i>
              </span>
            </a>
            <a href="https://twitter.com/johnmoxon">
              <span class="icon is-large">
                <i class="fa-3x fab fa-twitter has-text-black"></i>
              </span>
            </a>
            <a href="https://medium.com/@johnmoxon">
              <span class="icon is-large">
                <i class="fa-3x fab fa-medium-m has-text-black"></i>
              </span>
            </a>
          </div>


        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container has-text-centered">
      <p>
        The source code for this website is licensed by 
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and can be found 
        <a href="https://github.com/johnmoxon/johnmoxon.github.io/">
          here on github 
          <i class="fab fa-github has-text-black"></i>
        </a>.
        <span xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">
          The website content by <strong><span rel="cc:attributionName">John Moxon</span></strong> is licensed under  
          <a href="https://creativecommons.org/licenses/by/4.0">
            CC BY 4.0
            <img
              style="height:22px!important;margin-left: 3px;vertical-align:text-bottom;"
              src="https://search.creativecommons.org/static/img/cc_icon.svg" />
            <img
              style="height:22px!important;margin-left: 3px;vertical-align:text-bottom;"
              src="https://search.creativecommons.org/static/img/cc-by_icon.svg" />
          </a>
        </span>
      </p>
     
      <div class="has-vcentred-content">
        <img class="" width="150px" src="/assets/img/made-with-bulma--semiblack.png" alt="Made with Bulma">
        <img class="" width="150px" src="/assets/img/webpack-on-white-bg.svg" alt="Made with Webpack">
        <img class="" width="150px" src="/assets/img/jekyll-logo-black-red-transparent.png" alt="Made with Jekyll">
      </div>
    </div> 
  </footer>

  <!-- Include dataLayer -->
  <!-- {% include dataLayer/dataLayer %} -->
  
  <!-- Include analytics -->
  <!-- {% include JB/analytics %} -->

  <script src="/assets/js/holding.bundle.js?438cc8a48c1ccb9640c6"></script></body>
</html>
