<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}} - {{site.name}}</title>

    <meta name="description" content="{%unless page.description == null %}{{ page.description }}{%else%}{{ site.feed_description }}{% endunless %}">
    <meta name="keywords" content="{% unless page.keywords == null %}{{ page.keywords }}{% else %}{{ site.fail_back_keywords }}{% endunless %}">
    <meta charset="utf-8">

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">

    <meta name="author" content="https://plus.google.com/+{{site.author.googleplus}}">
    <meta name="google-site-verification" content="{{site.webmastertools.verification_code}}" />

    {% if page.sitemap.noindex != null %}
    <meta name="robots" content="{{ page.sitemap.noindex | join: ', ' }}">
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}}: {{site.feed_description}} » Feed" href="{{site.production_url}}{{site.xJB.rss_path}}" />

    <!-- Social  -->
    <!-- Facebook open graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% unless page.title == null %}{{ page.title }}{% endunless %}" />
    <meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
    <meta property="og:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />
    {% unless page.date == null %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}" />
    {% else %}
    <!-- Last generated date -->
    <meta property="article:published_time" content="{{ site.time | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}" />
    {% endunless %}
    <meta property="article:author" content="{{ site.production_url }}/about/" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <!-- <meta property="og:image" content="http://wordpress.com/i/blank.jpg" /> -->

    <!-- Twitter card -->
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />

    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/all.css">
    <!-- endinject -->

    <!-- Progress meter - Remove if video load times are acceptable -->
    <script src="/assets/vendor/pace/pace.min.js"></script>

    <!-- Modernizr -->
    <script src="/assets/modernizr/modernizr.min.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top{%unless page.intro.herounit %} top-nav-collapse disable-nav-expanded{%endunless%}" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% if page.url == '/index.html' %}#page-top{% else %}/{% endif %}">
                    <i class="fa fa-play-circle"></i>  <span class="light">John</span> Moxon
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li><a href="{{site.production_url}}">Articles</a></li>

                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                    <li class="page-scroll"><a href="#contact">contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {%if page.intro.herounit %}
    <section class="intro" id="herounit">
        <video autoplay loop id="bgvid">
           <!--  <source src="/assets/video/bgclip.webm" type="video/webm">
            poster="/assets/img/bgclip.jpg"
            <source src="/assets/video/bgclip.mp4" type="video/mp4">
            <source src="/assets/video/bgclip.ogg" type="video/ogg"> -->
        </video>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ page.intro.title }}</h1>
                        <p class="intro-text">{{page.intro.tagline}}</p>
                        <div class="page-scroll">
                            <a href="#content" class="btn btn-circle ">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section id="content" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% unless page.url == '/index.html' %}
                {% include themes/grayscale/components/breadcrumb %}
                {% endunless %}

                {{ content }}

            </div>
        </div>
    </section>

    <section id="contact" class="jumbotron contact-form">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Why not say hello?</h2>
                <p>I'd love to hear from you, so get in touch</p>

                {% include themes/grayscale/contact_form.html %}



            </div>
        </div>
    </section>
    <section class="jumbotron copyright">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <ul class="list-inline list-unstyled banner-social-buttons">
                    <li><a href="https://twitter.com/{{site.author.twitter}}" class="" title="Twitter"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li><a href="http://github.com/{{site.author.github}}" class="" title="Github"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/+{{site.author.googleplus}}/posts" class="" title="Google+"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                    </li>
                    <li><a href="au.linkedin.com/in/{{site.author.linkedin}}" class="" title="LinkedIn"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>

                <span class="small">copyright John Moxon 2014. All rights reserved.</span>
            </div>
        </div>
    </section>

{% comment %}
    <!-- <div id="map"></div> -->

    <!-- Core JavaScript Files -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!-- <script src="js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- // <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
    <!-- <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- // <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
    <!-- <script src="jquery.plugins/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script> -->

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <!-- // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->
{% endcomment %}

    <!-- Custom Theme JavaScript -->
    <!-- inject:js -->
    <script src="/assets/js/all.min-217d3738.js"></script>
    <!-- endinject -->

    <!-- Include analytics -->
    {% include JB/analytics %}

</body>

</html>
