<title>{{page.title}} - {{site.name}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags -->
    <meta name="description"
      content="{%unless page.description == null %}{{ page.description }}{%else%}{{ site.feed_description }}{% endunless %}">
    <meta name="keywords"
      content="{% unless page.keywords == null %}{{ page.keywords }}{% else %}{{ site.fail_back_keywords }}{% endunless %}">

    <meta name="author" content="https://plus.google.com/+{{site.author.googleplus}}">
    <meta name="google-site-verification" content="{{site.webmastertools.verification_code}}" />
    
    <!-- {% if page.sitemap.noindex != null %} -->
    <meta name="robots" content="{{ page.sitemap.noindex | join: ', ' }}">
    <!-- {% endif %} -->

    <link rel="alternate" type="application/rss+xml" title="{{site.author.name}}: {{site.feed_description}} » Feed"
      href="{{site.production_url}}{{site.xJB.rss_path}}" />

    <!-- Social  -->
    <!-- Facebook open graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% unless page.title == null %}{{ page.title }}{% endunless %}" />
    <meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
    <meta property="og:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />
    <!-- {% unless page.date == null %} -->
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}" />
    <!-- {% else %} -->
    <!-- Last generated date -->
    <meta property="article:published_time" content="{{ site.time | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ site.time | date_to_xmlschema }}" />
    <!-- {% endunless %} -->
    <meta property="article:author" content="{{ site.production_url }}/about/" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <!-- <meta property="og:image" content="http://wordpress.com/i/blank.jpg" /> -->
    
    <!-- Twitter card -->
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{% unless page.description == null %}{{ page.description }}{% endunless %}" />



 
    <script defer src="https://kit.fontawesome.com/f74caf9b24.js" crossorigin="anonymous"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <link rel="preload" href="/assets/fonts/Cardo/Cardo-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Regular.woff2" as="font" crossorigin>
    <style>
      @font-face {
        font-family: 'Cardo';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Cardo'), local('Cardo-Regular'), url(/assets/fonts/Cardo/Cardo-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      /* latin */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/assets/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>