<!-- Social -->
<div class="content">
    <a href="{{ site.linkedin_username }}">
        <span class="icon is-large">
            <i class="fa-3x fab fa-linkedin-in has-text-black"></i>
        </span>
    </a>
    <a href="{{ site.twitter_username }}">
        <span class="icon is-large">
            <i class="fa-3x fab fa-twitter has-text-black"></i>
        </span>
    </a>
    <a href="{{ site.medium_username }}">
        <span class="icon is-large">
            <i class="fa-3x fab fa-medium-m has-text-black"></i>
        </span>
    </a>
</div>